anndata==0.9.2
joblib==1.1.0
matplotlib==3.5.1
munkres==1.1.4
networkx==2.6.3
numpy==1.23.5
pandas==1.5.3
POT==0.8.2
pynvml==11.5.0
scanpy==1.9.4
scikit_learn==1.0.2
scipy==1.6.2
torch==2.0.1
torch_geometric==2.3.1
tqdm==4.59.0